@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Outfit', sans-serif;
	}
}

@layer components {
	.view-overlay {
		position: relative;
		cursor: pointer;
	}

	.view-overlay img {
		border-radius: 8px;
	}

	.view-overlay::before,
	.view-overlay::after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: opacity 0.25s ease-in;
	}

	.view-overlay::before {
		border-radius: 8px;
		background-color: hsl(178, 100%, 50%);
	}

	.view-overlay::after {
		top: 0;
		left: 0;
		background-image: url('../src/assets/icons/icon-view.svg');
		background-position: center;
		background-repeat: no-repeat;
	}

	.view-overlay:hover::before {
		opacity: 0.5;
	}

	.view-overlay:hover::after {
		opacity: 1;
	}
}
